<!doctype html>
<html lang="en">
  <head>
    <title>Planet Age</title>
  </head>
  <body>
    <main>
      <section id="birthday-section">
        <div>
          <h3>Insert your birthday</h3>
          <div class="input-container">
            <input type="date" id="birthday">
          </div>
          <button id="start" disabled>Let's go!</button>
        </div>
      </section>
      <%- include fragments/planets -%>
    </main>
  </body>
</html>
